body {
    color: rgb(255, 255, 255);
    background: rgb(27, 27, 27);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(133, 133, 133);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.chamada {
    background: rgb(36, 36, 36);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 200px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px;
}

.categoria h2 {
    color: white;
}

.meu-git img {
    opacity: 0.75;
    margin-top: 50px;
    margin-left: 40%;
    border-radius: 30px;
}

.meu-git h2 {
    margin-left: 42.5%;
}

.meu-git h6 {
    margin-left: 46.5%;
}

.meu-git img:hover {
    opacity: 1.0;
}